html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.dark .page a {
  color: rgb(54, 205, 255);
}

.page a:hover {
  text-decoration: underline;
}

.light .page a {
  color: blue;
}

.list-item {
  border-bottom: 1px solid white;
}

* {
  box-sizing: border-box;
}

/* menu, page, contaner */
.container {
  display: flex !important;
  padding-top: 70px;
}

.page {
  min-width: 60%;
}

.menu {
  position: sticky !important;
  position: -webkit-sticky !important;
  top: 70px;
  width: 300px;
  min-width: 300px;
  align-self: flex-start;
}
/*  */

.light {
  background: white;
  color: black;
}

.dark {
  background: rgb(0, 0, 0);
  color: white;
}

code {
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
}

table {
  border-collapse: collapse;
}

.light th {
  background: #ebebeb;
}

.dark th {
  background: #1f1f1f;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}




