html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.page {
  height: 100vh;
  overflow: scroll;
}

a {
  color: inherit;
  text-decoration: none;
}

.dark .page a {
  color: rgb(54, 205, 255);
}

.page a:hover {
  text-decoration: underline;
}

.light .page a {
  color: rgb(0, 63, 144);
}

.list-item {
  border-bottom: 1px solid white;
}

* {
  box-sizing: border-box;
}

.container {
  height: 100vh;
  overflow-y: hidden;
}

.light {
  background: white;
  color: black;
}

.dark {
  background: rgb(0, 0, 0);
  color: white;
}

code {
  font-size: 16px;
}

table {
  border-collapse: collapse;
}

.light th {
  background: #ebebeb;
}

.dark th {
  background: #1f1f1f;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}




